<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <!-- <div class="col-sm-2"></div>
                  <div class="col-sm-8" style="margin-left: 157px;">
                          <div class="form-group" style="display:flex;">
                            <label style="margin-top: 16px;">Association</label>
                            <select class="ui dropdown search methodDropdown"  name="association" style="width: 100%;margin-top: 11px;margin-left: 12px;"
                            (change)='loadAssociation(asAsnName)' [(ngModel)]='asAsnName' autocomplete="off" placeholder="Search Association">
                             <option value="">Select Association</option>
                             <option *ngFor="let association of associations" [value]="association['asAsnName']">
                               {{association['asAsnName']}}
                             </option>
                           </select>
                            <p class="invalid-feedback">Select Association</p>
                          </div>
                        </div>
                        <div class="col-sm-2"></div> -->
        <form>
          <div class="row">
            <div class="col-sm-6" *ngIf='asNofBlks != 0'>
              <label style="margin-left: 333px;">Total no of blocks :</label>
              <!-- <input type="text" required name="ASAsnName" id="input15" autocomplete="off"
                                                           class="form-control"
                                                          style="text-transform: uppercase; font-family: Poppins; font-size: 13px;" placeholder="Number of blocks"/> -->
              <label>{{asNofBlks}}</label>
            </div>

            <div class="col-sm-6" *ngIf='asNofUnit != 0'>
              <label style="margin-left: 27px;">Total no of Units :</label>
              <!-- <input type="text" required name="ASAsnName" id="input15" autocomplete="off"
                                                          class="form-control"
                                                          style="text-transform: uppercase; font-family: Poppins; font-size: 13px;" placeholder="Number of Units"/> -->
              <label>{{asNofUnit}}</label>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-sm-3"></div>
            <div class="col-sm-6" style="display:flex">
              <span style="margin-left: 70px;">
                <ul>
                  <li style="display: block"> <img (click)="upLoad()" src="../../assets/images/upload_excel.jpeg"
                      width="45px" height="45px" style="cursor: pointer;" /></li>
                  <li style="display: block"><span style="font-size: 11px;">Upload Block</span></li>
                </ul>
              </span>
              <input type="file" id="file_upload_id" (change)="onFileChange($event)" multiple="false"
                accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"
                style="display:none" #file>
              <span style="margin-left: 85px;">
                <ul>
                  <li style="display: block"><a style="padding-left: 21px;"
                      href="../../assets/Excel/Unit Details Template.xlsx" download><img
                        src="../../assets/images/download_excel.jpeg" width="45px" height="45px"
                        style="cursor: pointer;" /></a></li>
                  <li style="display: block"><span style="font-size: 11px;">Download Excel Format</span></li>
                </ul>
              </span>
              <!-- <div class="form-group">
                                                              <label id=label2>File Upload <span class="red">*</span></label>
                                                              <input type="file" required name="ASAsnLogo" (change)="onFileChange($event)"
                                                                 class="form-control" style="font-family: Poppins"
                                                                 pattern="(.*?)\.(png|jpeg|jpg)$" id="uploadFileinput">
                                                         </div>  -->
              <!-- <table style="width: 100%">
                                                          <thead>
                                                            <tr>
                                                              <th>Blocks</th>
                                                              <th>Units</th>
                                                              <th>UploadFile</th>
                                                            </tr>
                                                          </thead>
                                                          <tbody>
                                                            <ng-container *ngFor='let item of _blockDetail'>
                                                              <tr>
                                                                <td>Blck:{{item['_blockname']}}</td>
                                                                <td>UnitCount:{{item['_unitcount']}}</td>
                                                                <td><ul>
                                                                    <li style="display: block"> <img (click)="Upload(item['_id'])" src="../../assets/images/upload_excel.jpeg" width="45px" height="45px" style="cursor: pointer;"/></li>
                                                                    <li style="display: block"><input type="file" id="file_upload_id" (change)="onFileChangeGetDetail($event)" multiple="false" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" style="display:none" #filectrl></li>
                                                                    </ul>
                                                                  </td>
                                                              </tr>
                                                            </ng-container>
                                                        
                                                          </tbody>
                                                        </table> -->



            </div>
            <div class="col-sm-3">
            </div>
          </div>
          <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-8" style="border: 1px solid #F08E33;border-radius: 18px;">
              <h1>Note:- Upload your Blocks & Units file in <i class="fa fa-file-excel-o" aria-hidden="true"></i> excel
                format,
                the
                demo excel format can be downloaded from above
              </h1>

            </div>
            <div class="col-sm-2"></div>
          </div>

        </form>

      </div>

    </div>

  </div>

</div>