
<br>
<div class="pageTitle">
<div class="row" id="row1">
  <div class="col-sm-8">
    <p style="margin-top: 10px;">
      WELCOME TO OYELIVING
    </p>
  </div>

  <div class="col-sm-4">
      <select class="form-control" name="asAssnID" id="loadAssn" [(ngModel)]="asAssnID" (change)="loadAssociation(asAssnID)" required>
         <option [value]="" style="color:#b33951">Select Association</option>
         <option *ngFor="let item of associations" [value]="item['asAssnID']">{{item['asAsnName']}}</option>
      </select>
  </div>
</div>
</div>
<!--------------------------------------->

<div class="row">
     <div class="col-sm-12" id="mydiv1">
      <img src="../assets/images/dasboardPic2.jpg" height="250px" width="100%" id="dashboardPic">
      <div id="mydiv2">
       <!-- <h5> Hi {{name}} <span style="display: inline-block;" ng-if="roleIs == 6">Admin</span></h5>--> 
        <h4 class="text-center"><i class="fa fa-building-o"></i> {{currentAssociationName}}</h4>
      </div>
    </div>
</div>

<div class="row" id="ticketsrow1">
     <div class="col-sm-3 card card-body bg-light" (click)="assnAmountDue()">
         <h2 class="bh2 text-primary">
                <div class="pull-right push-15-t push-15">
                        <i class="fa fa-money fa-1x"></i>
                </div>
             <i class="fa fa-inr"></i>
             <span *ngIf="totalAmounteDue"> {{totalAmounteDue}}</span> <span *ngIf="!totalAmounteDue"> 0</span> 
         </h2>
             Association Amount Due
     </div> 
     <div class="col-sm-1 "></div> 
     <div class="col-sm-3 card card-body bg-light" (click)="members()">
         <h2 class="bh2 text-smooth">
                <div class="pull-right push-15-t push-15">
                        <i class="fa fa-users fa-1x"></i>
                </div>
             {{totalMember}}</h2>
             Members
     </div> 
     <div class="col-sm-1 "></div> 
     <div class="col-sm-3 card card-body bg-light" (click)="tickets()">
         <h2 class="bh2 text-success">
                <div class="pull-right push-15-t push-15">
                        <i class="fa fa-ticket fa-1x text-success"></i>
                 </div>
             {{totalTickets}}</h2>
             Ticket
    </div> 
     <div class="col-sm-1 "></div> 
</div>
<div class="row " id="ticketsrow2">
     <div class="col-sm-3 card card-body bg-light" (click)="vehicles()">
         <h2 class="bh2 text-primary">
                <div class="pull-right push-15-t push-15">
                        <i class="fa fa-car fa-1x"></i>
                 </div> 
             {{totalVehicles}}</h2>
             Vehicles
     </div>  
     <div class="col-sm-1 "></div> 
     <div class="col-sm-3 card card-body bg-light">
         <h2 class="bh2 text-smooth"> 
                <div class="pull-right push-15-t push-15">
                        <i class="fa fa-male fa-1x"></i>
                 </div> 
            0</h2>
         Staff
     </div> 
     <div class="col-sm-1 "></div> 
     <div class="col-sm-3 card card-body bg-light">
         <h2 class="bh2 text-success"> 
                <div class="pull-right push-15-t push-15">
                        <i class="fa fa-address-book fa-1x"></i>
                 </div> 
            0
        </h2>
         Visitors
        </div> 
     <div class="col-sm-1 "></div> 
</div>

<!----------------------ASociation Amount Dues---------------------------------->
<div class="row" *ngIf="AssociationAmountDue">
    <div class="col-sm-12">
        <br><br>
        <h5 id="tablehead1">Association Dues Detail</h5>
        <br>
            <table class="table table-hover" style="margin-top: 10px;">
              <!--no API to fetch data -->
                <thead>
                    <tr>   
                        <th>View Invoice</th>
                        <th>Unit ID</th>
                        <th>First Name</th>
                        <th>Amount Paid</th>
                        <th>Amount Due</th>
                    </tr>
                </thead>
                <tbody>
                    <tr dir-paginate="let all of alldetails | itemsPerPage: pageSize" current-page="currentPage" >
                        <td><a href=""><i class="si si-eye"></i> </a></td>
                        <td>{{all.unitID}}</td>
                        <td>{{all.firstName}}</td>
                        <td>{{all.amountPaid}}</td>
                        <td>{{all.amountDue}}</td>
                    </tr>
                </tbody>
            </table>
    </div>
</div>
<!--------------------Memebers---------------------->
<div class="row" *ngIf="memberDeatils">
  <div class="col-sm-12">
      <br><br>
      <h5 id="tablehead1">Member Details</h5>
      <br>
          <table class="table table-hover" style="margin-top: 10px;">
            <thead>
              <tr>   
                  <th>Member ID</th>
                  <th>Account ID</th>
                  <th>Member Role</th>
                  <th>Contact No</th>
                  <th>Leave at Guard</th>
              </tr>
          </thead>
          <tbody>
              <tr *ngFor="let allMember of allMemberByAccount" >
                  <td>{{allMember.meMemID}}</td>
                  <td>{{allMember.acAccntID}}</td>
                  <td>{{allMember.mrmRoleID}}</td>
                  <td>{{allMember.acMobile}}</td>
                  <td>{{allMember.melvaGrd}}</td>
              </tr>
          </tbody>
       </table>
  </div>
</div>
<!-----------------------Tickets -------------------------->
<div class="row" *ngIf="ticketDetails">
  <br>
  <div class="col-sm-12">
      <br><br>
      <h5 id="tablehead1">Ticket Details</h5>
      <!--no API to fetch data -->
      <br>
          <table class="table table-hover" style="margin-top: 10px;">
            <thead>
              <tr>   
                  <th>Ticket Identifier</th>
                  <th>Raised By</th>
                  <th>Comment</th>
                  <th>User Mobile</th>
                  <th>Status</th>                                    
                  <th>Action</th>
              </tr>
          </thead>
          <tbody>
              <tr *ngFor="let ticketByAssociation of allTicketByAssociation" >
                  <td>{{ticketByAssociation.tkTkIdent}}</td>
                  <td>{{ticketByAssociation.tkRaisdBy}}</td>
                  <td>{{ticketByAssociation.tkrbCmnts}}</td>
                  <td>{{ticketByAssociation.tkMobile}}</td>  
                  <td>{{ticketByAssociation.tkStat}}</td>                                  
                  <td><a href="">More Details</a></td>
              </tr>
          </tbody>
       </table>
  </div>
</div>
<!-----------------------Documnetss -------------------------->
<div class="row" *ngIf="vehicleDetails">
  <div class="col-sm-12">
      <br><br>
      <h5 id="tablehead1">Vehicle Details</h5>
      <br>
          <table class="table table-hover" style="margin-top: 10px;">
              <thead>
                  <tr>   
                      <th>Regd No</th>
                      <th>Vehicle Type</th>
                      <th>Vehicle Model</th>
                      <th>Sticker No</th>
                      <th>Unit ID</th>
                  </tr>
              </thead>
              <tbody>
                  <tr *ngFor="let vehicleListByAssn of allVehicleListByAssn" >
                      <td>{{vehicleListByAssn.veRegNo}}</td>
                      <td>{{vehicleListByAssn.veType}}</td>
                      <td>{{vehicleListByAssn.veMakeMdl}}</td>
                      <td>{{vehicleListByAssn.veStickNo}}</td>  
                      <td>{{vehicleListByAssn.unUnitID}}</td> 
                  </tr>
              </tbody>
       </table>
  </div>
</div>
