<div class="main-wrapper animateIt">
    <div class="container-fluid">
        <div class="pageTitle">
            <div class="row">
                <div class="col-sm-4 col-xs-12">
                    <h3>View Receipt</h3>
                </div>
                <div class="col-sm-4 col-xs-12">
                    <input type="text" name="searchBoxData" [(ngModel)]="searchBoxData" class="form-control"
                        placeholder="Start Typing, this is dynamic search" />
                </div>
                <div class="col-sm-4 col-xs-12">
                    <a (click)='gotoGenerateReceipt()'>
                        <button type="button" class="btn btn-primary pull-right"><i class="fa fa-plus"></i> Generate Receipts</button>
                    </a>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="table-responsive">
                        <table class="table" id="example">
                            <thead>
                                <tr>
                                    <th>Unit Identifier</th>
                                    <th>Invoice No</th>
                                    <th>Date of Payment</th>
                                    <th>Amount</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let view of viewPayments | filter : searchBoxData">
                                    <td>{{view['unUnitID']}}</td>
                                    <td>{{view['inNumber']}}</td>
                                    <td>{{view['pyDate'] | date : "d-M-y"}}</td>
                                    <td><i class="fa fa-inr"></i> {{view['pyAmtPaid']}}</td>
                                    <td> <i data-toggle="modal" data-target="#ViewReceiptTemplate" style="cursor: pointer"
                                            (click)="viewReceipt(view['unUnitID'],view['inNumber'],view['pyDate'],view['pyAmtPaid'])"
                                            class="fa fa-eye"></i> </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!---->
<div class="modal fade" id="ViewReceiptTemplate" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header" style="padding-top:20px; background-color: #e1e1e1;">
                <h4 class="modal-title" style="margin-left: 300px;" id="myModalLabel"><u>View Receipt</u></h4>
                <button type="button" class="close" data-dismiss="modal" style="left:100%" aria-label="Close"><span
                        aria-hidden="true">×</span></button>
            </div>
            <div class="modal-body">

                <fieldset class="scheduler-border">
                    <div class="row" style="text-align:center;">
                        <br>
                        <div class="col-sm-3">
                            <p></p>
                            <h4>UnitIdentifier: </h4><span>{{unitIdentifier}}</span>
                            <p></p>
                            <br>
                        </div>
                        <div class="col-sm-3">
                            <p></p>
                            <h4>InvoiceNumber: </h4><span>{{invoiceNumber}}</span>
                            <p></p>
                            <br>
                        </div>

                        <div class="col-sm-3">
                            <p></p>
                            <h4>PaymentDate: </h4><span>{{pymtDate | date : "d-M-y"}}</span>
                            <p></p>
                            <br>
                        </div>
                        <div class="col-sm-3">
                            <p></p>
                            <h4>AmountPaid: </h4><span>{{amountPaid}}</span>
                            <p></p>
                            <br>
                        </div>

                    </div>
                </fieldset>

            </div>
        </div>
    </div>
</div>


