<div class="container-fluid">
<div style="text-align:center;font-family: Poppins;background-color: black; color: white;padding:1px; font-size:15px;">
    <p>
            OYE<span style="color:orange;">SPACE</span>. You Live It. We Manage It!
    </p>
  </div>
 
  <div class="row">
    
       <div class="col-sm-3">
           <br>
        <img src="../assets/images/newLogo.png" height="80px" width="150px">
        <br><br> 
        
        <ul class="nav flex-column" >
        <!--<ul class="nav flex-column">-->
                <li class="nav-item">
                        <a routerLink="/" class="nav-item nav-link active" routerLinkaActive="active" id="dashboard"></a>
                    </li>
                <li class="nav-item">
                    <a routerLink="/dashboard" class="nav-item nav-link active" routerLinkaActive="active" id="dashboard"><span class="fa fa-tasks"></span>  Dashboard</a>
                </li>
                <li class="dropdown-divider"></li>
                <li class="nav-item">
                    <a routerLink="/association" class="nav-item nav-link" id="association"><span class="fa fa-th-large"></span>  Association Management</a>
                </li>
                <li class="dropdown-divider"></li>
                <li class="nav-item">
                    <a routerLink="/viewexpense" class="nav-item nav-link" id="expmgnt">Expense Management</a>
                </li>
                <li class="dropdown-divider"></li>
                <li class="nav-item">
                    <a routerLink="/viewinvoice" class="nav-item nav-link" id="invmgnt">Invoice Management</a>
                </li>
                <li class="dropdown-divider"></li>
                <div *ngIf="myMenus">
                <li class="nav-item">
                    <a routerLink="/block" class="nav-item nav-link" id="block"><span class="fa fa-home"></span>  Blocks</a>
                </li>
                <li class="dropdown-divider"></li>
                <li class="nav-item">
                    <a routerLink="/viewunit" class="nav-item nav-link" id="unit"><span class="fa fa-home"></span>  Units</a>
                </li>
                <li class="dropdown-divider"></li>
                <li class="nav-item">
                    <a routerLink="/association" class="nav-item nav-link" id="unit"><span class="fa fa-credit-card"></span>  Expense Management</a>
                </li>
                <li class="dropdown-divider"></li>
                <li class="nav-item">
                    <a routerLink="/association" class="nav-item nav-link" id="unit"><span class="fa fa-print"></span>  Invoice Management</a>
                </li>
                <li class="dropdown-divider"></li>
                <li class="nav-item">
                    <a routerLink="/association" class="nav-item nav-link" id="unit"><span class="fa fa-copy"></span>  Reports</a>
                </li>
                </div>
                <li class="dropdown-divider"></li>
                <li class="nav-item"> 
                    <a routerLink="/viewreceipt" class="nav-item nav-link"><span class="fa fa-copy"></span> Receipt Management</a>
                </li>
        </ul>
        
       </div>
       <div class="col-sm-9">
          <!-- ROUTING STARTS-->
          <router-outlet></router-outlet>
       </div>


  </div>

</div>
      