<div id='content'>
  <div class="row">
    <div class="col-sm-2 col-sm-2 col-xs-2">
      <p>
        assosiation logo
      </p>
    </div>
    <div class="col-sm-10 col-sm-10 col-xs-10" style="text-align: center">
        <span style="font-size:2rem;font-weight:bold;display: block">
            {{associationDetails.asAsnName}} OWNERS' ASSOSIATION
          </span>
        <span style="font-size: 18px">
            {{associationDetails.asAsnName}},{{associationDetails.asAddress}},{{associationDetails.asCountry}}-{{associationDetails.asPinCode}}
        </span>
        <ul style="display: block;">
          <li style="display: inline-block;padding: 0 100px;">
            <span>
              PAN#: AXWPA0545P
            </span>
          </li>
          <li style="display: inline-block;padding: 0 100px;">
            <span>
              GSTIN: 22AX0000WP45P
            </span>
          </li>
        </ul>
    </div>
  </div>
      <hr/>
    <div style="text-align: center;margin-bottom: 10px;">
        <button style="border: 1px solid black">TAX INVOICE</button>
    </div>  
    <div>
      <div style="width: 50%;height: 100px;float: left;">
        <ul class="ulclass">
          <li><span>Tax Invoice Number: </span><span>TI-203 </span> </li>
          <li><span>Unit: </span><span> D - 0904 </span> </li>
          <li><span>Collection Gateway Account #: </span><span> APNACX000129040904 </span> </li>
          <li><span>Area: </span><span> 1,275 sqft </span> </li>
          <li> <span> Details of Receiver (Billed to) </span> </li>
          <li><span> Name: </span><span> D - 0904 </span> </li>
          <li><span> Address: </span><span> Smondo 3.0, Neotown, Electronic City Phase -1 </span> </li>
          <li><span> State: </span><span> Karnataka </span> </li>
          <li><span> State Code: </span><span> 29 </span> </li>
          <li><span> GSTIN/Unique ID: -</span><span> 2WSD </span> </li>
        </ul>
      </div>
      <div style="width: 50%;height: 100px;float: right;">
          <ul class="ulclass">
              <li><span>Tax Invoice Date: </span><span>01/07/2019</span> </li>
              <li><span>Payment Due Date: </span><span>22/07/2019 </span> </li>
            </ul>
      </div>
    </div> 
    <div>
      <table id="tableone">
        <thead>
          <tr>
            <th colspan="8" style="text-align: center"><span style="font-weight:bold;font-size:18px">Maintenance Charges for July to Sep 2019</span></th>
          </tr>
          <tr>
            <th class="clsalign"><span>S. No</span></th>
            <th class="clsalign">Description</th>
            <th class="clsalign">HSN/SAC</th>
            <th class="clsalign">Taxable Value</th>
            <th class="clsalign">CGST</th>
            <th class="clsalign">SGST</th>
            <th class="clsalign">IGST</th>
            <th class="clsalign">Total</th>
    
          </tr>
        </thead>
        <tbody>
    
          <tr>
            <td class="clsalign"><span>1</span></td>
            <td style="width: 38%;margin-left: 5px;"><span>Maintenance Charges:
              Maintenance Charges for
              July to Sep 2019</span></td>
            <td><span>SAC 999598</span></td>
            <td style="text-align: right;"><span>13,005.00</span></td>
            <td></td>
            <td></td>
            <td></td>
            <td style="text-align: right;"><span>13,005.00</span></td>
          </tr>
          <tr>
            <td class="clsalign"><span>2</span></td>
            <td><span>Late Payment
              Charges/Income: Late</span></td>
            <td><span>SAC 999598</span></td>
            <td style="text-align: right;"><span>91.00</span></td>
            <td style="text-align: right;"><span style="display: block">8.19</span>
             <span>@9.00%</span></td>
            <td style="text-align: right;"><span style="display: block">8.19</span>
             <span>@9.00%</span></td>
            <td></td>
            <td style="text-align: right;"><span>107.38</span></td>
          </tr>
          <tr>
            <td></td>
            <td><span>Payment Fees</span></td>
            <td colspan="5" style="text-align: right;font-weight: bold"><span>Sub Total</span></td>
          <td style="text-align: right;font-weight: bold"><span>13,112.38</span></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div>
        <table id="tabletwo">
          <thead>
            <tr>
              <th colspan="8" style="text-align: center"><span style="font-weight:bold;font-size:18px">Past Advances & Dues</span></th>
            </tr>
            <tr>
              <th class="clsalign" style="width: 87%"><span>Description</span></th>
              <th class="clsalign">Amount</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td style="width: 38%;margin-left: 5px;"><span>Outstanding - Association Membership Charges</span></td>
              <td class="clsalign" style="text-align:right;"><span>2,000.00</span></td>
            </tr>
            <tr>
              <td class="clsalign" style="text-align:right;font-weight: bold"><span>Sub Total</span></td>
              <td style="text-align:right;font-weight: bold"><span>2,000.00</span></td>
            </tr>
            <tr>
              <td class="clsalign" style="text-align:right;font-weight: bold"><span>Grand Total (Due / Advance)</span></td>
              <td style="text-align:right;font-weight: bold"><span>15,112.38</span></td>
            </tr>
          </tbody>
        </table>
      </div>
    <div>
        <table id="tablethree">
            <tr>
              <th class="clsalign" style="width: 14%"><span>Amount In Words</span></th>
              <th class="clsalign">Fifteen Thousand One Hundred Twelve and Paise Three Eight only</th>
            </tr>
        </table>
      </div>
      <div style="margin-top:82%;width:95%;margin-left:4%;">
        <span style="font-style: italic;color:cyan;">** Rate - Flats Rs 3.40 Per Sq feet/month, Shops, Rs 5.50 Per sq feet/month</span>
      
        <ul style="position: absolute;margin-top:10px;list-style-type: none;left:0px">
         <a><span style="font-weight: bold;padding-bottom:13px;display:block;">Bank Account Details (Collection Gateway) -<span style="color: orange"> for unit -D - 0904-only.</span></span></a> 
          <li>Bank Account Number -APNACX000129040904</li>
          <li>Beneficiary Name - Smondo 3.0 D - 0904</li>
          <li>IFSC Code -YESB0CMSNOC</li>
          <li>Bank Name - Yes Bank,Type - Saving,Branch - CMS NATIONAL OPERATING CENTER, Mumbai</li>
        </ul>
      
        <ul style="position: absolute;margin-top:152px;list-style-type: none;left:0px">
          <span style="font-weight:bold;padding-bottom:13px;display:block;">PaymentOptions</span>
          <li><span>NEFT/IMPS -</span>Please transfer due amount to above account.Bank account is specific to unit mentioned above and
            can't be adjusted to any other flats.</li>
          <li><span>Online-Apnacomplex app -</span>Payment can be made with mobile app or on website (select online option), with Credit
            Card, Debit Card or Netbanking/UPI/Google Pay.Please note - extra gateway charge is applicable.</li>
        </ul>
      
        <ul style="position: absolute;margin-top:265px;left:0px">
          <span style="font-weight: bold;padding-bottom:13px;display:block;">Important Notes</span>
          <li style="margin-left: 26px;">Please avoid any other mode of payments, including cash payments. Residents will be responsible in case these
            payments are not enetered and verified on</li>
          <li style="margin-left: 26px;">Apnacomplex. Any charges arising, like cheque boucing, cash not verified etc, will be charged back to respective
            residents.</li>
          <li style="margin-left: 26px;">Please keep transaction details, including screenprints, of payment, in case required for future verification.
          </li>
          <li style="margin-left: 26px;">If not paid by due date (mentioned in invoice), Late Payment Fees will be charged additionally on total pending
            amount</li>
          <li style="margin-left: 26px;">Please referbye-laws, to avoid any further action.</li>
        </ul>
      
        <span style="position: absolute;margin-top: 453px;left: 39px;">Do write to smondo3.association@gmail.comfor any issues/clarification.</span>
        <span style="position: absolute;margin-top: 477px;left: 39px;">S3AOA</span>
      </div>
      <div>
        <button class="mdButton1" style="position:relative;margin-top:482px;float:right;margin-right:8px;" (click)='captureScreen()'>Generate PDF</button>
      </div>
</div>

