.mdButton1 {
    -webkit-box-shadow: 0 5px 15px 0 rgba(0,0,0,0.15);
    box-shadow: 0 5px 15px 0 rgba(0,0,0,0.15);
    background-color: #F90;
    color: #ffffff;
    border-width: 0;
    border-style: solid;
    border-color: transparent;
    display: block;
    padding: 1.0625em 1.875em;
    border-width: 0;
    border-style: solid;
    border-color: transparent;
    border-radius: 3px;
    color: #ffffff;
    font-family: Quicksand;
    font-weight: 700;
    line-height: 1.133;
    -webkit-font-smoothing: antialiased;
    -webkit-transition: 150ms ease;
    transition: 150ms ease;
    -webkit-transition-property: background-color border-color color;
    transition-property: background-color border-color color;
    text-align: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
    font-size: 16px;
    cursor: pointer;
  }
  .mdButton1:hover, .mdButton1:focus {
    background-color: #23A8E1;
    color: #ffffff;
  } 
  .fas { font-family: 'FontAwesome' !important; }