<table class="table" style="background-color: whitesmoke">
    <tr id="label16">
        <td>Amenity Type</td>
        <td>No of Amenity</td>
        <td>Action</td>
    </tr>
    <tr *ngFor="let item of amenities; let i = index">
            <td>
              <input type="text" required name="amenityType" id="amenityType" [(ngModel)]="item.amenityType"
                #amenityTypecontrol="ngModel" class="form-control" placeholder="Amenity Type" style="font-family: Poppins"
                pattern="[a-zA-Z]*" />
              <p class="alerts" *ngIf="amenityTypecontrol.invalid && amenityTypecontrol.touched"> Valid Amenity type is required
              </p>
            </td>
            <td>
              <input type="text" required name="amenityNo" id="amenityNo" [(ngModel)]="item.amenityNo" #amenityNocontrol="ngModel"
                class="form-control" placeholder="No of Amenities" style="font-family: Poppins" pattern="[0-9]*" />
              <p class="alerts" *ngIf="amenityNocontrol.invalid && amenityNocontrol.touched"> Valid no of amenity is required</p>
            </td>
            <td>
                <p><span class="fa fa-trash fa-1x" (click)="deleteAmenity(item.amenityId)"></span></p>
            </td>
          </tr>
    <tr>
        <td>
            <input type="text" name="AmenityT" [(ngModel)]='AmenityT' id="AmenityT"
                #newamenityTypecontrol="ngModel" class="form-control" placeholder="Amenity Type"
                style="font-family: Poppins" pattern="[a-zA-Z]*" />
            <p class="alerts" *ngIf="newamenityTypecontrol.invalid && newamenityTypecontrol.touched">
                Valid
                Amenity type is required</p>
        </td>
        <td>
            <input type="text" name="AmenityN" [(ngModel)]='AmenityN' id="AmenityN"
                #newamenityNocontrol="ngModel" class="form-control" placeholder="No of Amenities"
                style="font-family: Poppins" pattern="[0-9]*" />
            <p class="alerts" *ngIf="newamenityNocontrol.invalid && newamenityNocontrol.touched"> Valid
                no
                of amenity is required</p>
        </td>
        <td>
            <p><span class="fa fa-plus-square fa-1x" (click)="addAmenity()"></span></p>
        </td>
    </tr>
</table>