<div class="main-wrapper animateIt">
    <div class="container-fluid">
        <div class="pageTitle" style="padding: 10px;">
            <div class="row">
                <div class="col-sm-5 col-xs-12">
                    <h3 style="margin-top: 3px; margin-bottom: 0;">Blocks List For <strong>{{assnName}}</strong></h3>
                </div>
                <div class="col-sm-4 col-xs-12">
                    <div class="form-group">
                        <input type="text" name="searchBoxData" [(ngModel)]="searchBoxData" class="form-control"
                            placeholder="Search" />
                    </div>
                </div>
                <div class="col-sm-3 col-xs-12">
                    <button type="button" class="btn btn-primary pull-right" (click)="addBlocksValidation()"><i
                            class="fa fa-plus"></i> Add Blocks</button>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="row">
                <!---->
                    <div class="table-responsive hidden-xs" style="margin-top: 40px;">
                        <table class="table">
                            <thead>
                                <tr style="color:#e59400;">
                                    <th>Block Name</th>
                                    <th>Block Type</th>
                                    <th>No Of Units</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let allBlocksList of allBlocksLists | filter: searchBoxData">
                                    <td data-toggle="modal" data-target="#viewBlockDetails"
                                        (click)="viewBlockDetails(allBlocksList, $index)">{{allBlocksList.blBlkName}}
                                    </td>
                                    <td data-toggle="modal" data-target="#viewBlockDetails"
                                        (click)="viewBlockDetails(allBlocksList, $index)">{{allBlocksList.blBlkType}}
                                    </td>
                                    <td data-toggle="modal" data-target="#viewBlockDetails"
                                        (click)="viewBlockDetails(allBlocksList, $index)">{{allBlocksList.blNofUnit}}
                                    </td>
                                    <td>
                                      <i data-toggle="modal" data-target="#viewBlockDetails" (click)="viewBlockDetails(allBlocksList, $index)" class="fa fa-eye"></i>&nbsp;|&nbsp;<i data-toggle="modal" data-target="#editBlockDetails" (click)="editViewBlock(allBlocksList, $index)" class="fa fa-pencil"></i>

                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                    <!---->
            <div class="row">
                <div class="col-xs-12">
                    pagination...
                </div>
            </div>
        </div>
    </div>
</div>

<!------------------------------------------------>
<div>
    <form class="form-horizontal" name="block" enctype="multipart/form-data">
        <div class="row" style="border:1px solid #b33951; border-radius: 10px;">
            <div class="col-sm-12">
                <br>
                <h5 style="color:#b33951; font-family: Poppins">Block Details</h5>
                <br>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label id=label1>Block Name <span class="red">*</span></label>
                    <input type="text" name="blockname" id="input1" autocomplete='block.blockname'
                        [(ngModel)]="block.blockname" #blockname="ngModel" class="form-control" placeholder="Block Name"
                        pattern="[a-zA-Z0-9-]*" required />
                    <p class="alerts" *ngIf="blockname.invalid && blockname.touched">Valid name is required</p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label id=label2>Block Type <span class="red">*</span></label>
                    <input type="text" name="blocktype" id="input2" autocomplete='block.blocktype'
                        [(ngModel)]="block.blocktype" #blocktype="ngModel" class="form-control" placeholder="Block Type"
                        pattern="[a-zA-Z]*" required />
                    <p class="alerts" *ngIf="blocktype.invalid && blocktype.touched">Valid block type is required</p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label id=label3>No of Units <span class="red">*</span></label>
                    <input type="text" name="noofunits" id="input3" autocomplete='block.noofunits'
                        [(ngModel)]="block.noofunits" #noofunits="ngModel" class="form-control"
                        placeholder="No Of Units" pattern="[0-9]*" required />
                    <p class="alerts" *ngIf="noofunits.invalid && noofunits.touched">No of units are required</p>
                </div>
            </div>
            <div class="col-sm-12">
                <br>
                <h5 style="color:#b33951; font-family: Poppins">Manager Details</h5>
                <br>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label id=label4>Manager Name <span class="red">*</span></label>
                    <input type="text" name="managername" id="input4" autocomplete='block.managername'
                        [(ngModel)]="block.managername" #managername="ngModel" class="form-control"
                        placeholder="Manager Name" pattern="[a-zA-Z]*" required />
                    <p class="alerts" *ngIf="managername.invalid && managername.touched">Manager name is required</p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label id=label5>Manager Mobile Number <span class="red">*</span></label>
                    <input type="text" name="managernumber" id="input5" autocomplete='block.managernumber'
                        [(ngModel)]="block.managernumber" #managernumber="ngModel" class="form-control"
                        placeholder="Manager Mobile Number" minlength=10 maxlength=10 pattern="[0-9]*" required />
                    <p class="alerts" *ngIf="managernumber.invalid && managernumber.touched">Manager mobile number is
                        required</p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label id=label6>Manager Email Id <span class="red">*</span></label>
                    <input type="text" name="manageremail" id="input6" autocomplete='block.manageremail'
                        [(ngModel)]="block.manageremail" #manageremail="ngModel" class="form-control"
                        placeholder="Manager Email Id"
                        pattern="[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?(?:\.[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?)*"
                        required />
                    <p class="alerts" *ngIf="manageremail.invalid && manageremail.touched">Manager email-id is required
                    </p>
                </div>
            </div>


            <div class="col-sm-12">
                <br>
                <h5 style="color:#b33951; font-family: Poppins">Maintenance Details</h5>
                <br>
            </div>
            <div class="col-sm-4 ">
                <div class="form-group">
                    <label id=label6>Select Rate <span class="red">*</span></label> <br />
                    <input type="checkbox" name="rate" id="input7" [(ngModel)]="block.rate" #rate="ngModel"
                        (change)="checkRate()" value="flatRatevalue" #rate="ngModel">
                    <label id=label7>Flat Rate Value</label>
                    <p *ngIf="rate.invalid && rate.touched" class="alert alert-danger">Please Select Rate</p>
                    &nbsp;&nbsp;&nbsp;
                    <input type="checkbox" name="rate1" id="input8" [(ngModel)]="block.rate1" #rate1="ngModel"
                        (change)="checkRate()" value="dimension" #rate1="ngModel" />
                    <label id=label8>Dimension Based</label>
                    <p *ngIf="rate1.invalid && rate.touched" class="alert alert-danger">Please Select Rate</p>
                </div>
            </div>
            <div class="col-sm-4" *ngIf="flatRatevalue">
                <div class="form-group">
                    <label id=label9>Flat Rate Value <span class="red">*</span></label>
                    <input type="text" name="flatRatevalue" id="input9" [(ngModel)]="block.flatRatevalue"
                        #flatRatevalue="ngModel" class="form-control" #flatRatevalue="ngModel"
                        placeholder="Amount to be Charged " pattern="[+-]?((\.\d+)|(\d+(\.\d+)?))" required />
                    <a href="" class="question" tooltip-size="large" tooltips tooltip-side="top"
                        tooltip-template="*******************"><i class="fa fa-question-circle"></i></a>
                    <p class="alerts" *ngIf="flatRatevalue.invalid && flatRatevalue.touched"> Flat value is required</p>
                    <!--
                    <p class="alerts" *ngIf="flatRatevalue.error.pattern"> Please Enter Valid Amount</p>
                    -->
                </div>
            </div>
            <div class="col-sm-4" *ngIf="dimensionBasedRate">
                <div class="form-group">
                    <label id=label10>Maintenance Value<span class="red">*</span></label>

                    <input type="text" name="maintenanceValue" id="input10" [(ngModel)]="block.maintenanceValue"
                        #maintenanceValue="ngModel" class="form-control" #maintenanceValue="ngModel"
                        placeholder="Maintenance Rate (SqFt / SqMtr) " required pattern="[0-9]+(\.[0-9]{1,2})?" />
                    <p class="alerts" *ngIf="maintenanceValue.invalid && maintenanceValue.touched">Maintenance value is
                        required</p>
                    <!--
                    <p class="alerts" *ngIf="block.maintenanceValue.error.pattern"> Please Enter Valid Maintenance Value</p>
                    -->
                </div>
            </div>
            <div class="col-sm-12">
                <div class="form-group">
                    <p><label id=label11>Unit of Measurement <span class="red">*</span></label></p>
                    <input type="text" required name="measurement" id="input11" autocomplete='block.measurement'
                        [(ngModel)]="block.measurement" #measurement="ngModel" class="form-control"
                        placeholder="Measurement Type" />
                    <p class="alerts" *ngIf="measurement.invalid && measurement.touched">Measurement unit is required
                    </p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label id=label12>Invoice Creation Frequency <span class="red">*</span></label>
                    <select class="form-control" name="frequency" [(ngModel)]="block.frequency" #frequency="ngModel"
                        required>
                        <option ng-disabled="true" ng-selected="true" [value]=""
                            style="color:#b33951; font-family: Poppins">Select Invoice Frequency</option>
                        <option *ngFor="let frequency of frequencys" [value]="frequency.name"
                            style="font-family: Poppins">{{frequency.displayName}}</option>
                    </select>
                    <p class="alerts" *ngIf="frequency.invalid && frequency.touched"> Please Select Frequency</p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group" selector="form-control">
                    <label id=label13>Next Invoice Generation Date <span class="red">*</span></label>
                    <input type="date" data-date-inline-picker="true" class="form-control" name="invGenDate"
                        id="invoicedatetext" [(ngModel)]="block.billGenerationDate" #billGenerationDate="ngModel"
                        placeholder="dd-mm-yyyy" style="font-family: Poppins" required />
                    <!-----------<datepicker> TAG REMOVED by Barnali to disable the previous dates-------------
                    <datepicker date-format="MM-dd-yyyy" selector="form-control">
                        <input type="text" class="form-control" name="invGenDate" [(ngModel)]="block.billGenerationDate" placeholder="mm-dd-yyyy" required />
                    </datepicker>---->
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group" selector="form-control">
                    <label id=label14>Due Date <span class="red">*</span></label>
                    <input type="date" data-date-inline-picker="true" class="form-control" name="dueDate"
                        id="duedatetext" [(ngModel)]="block.dueDate" #dueDate="ngModel" placeholder="dd-mm-yyyy"
                        style="font-family: Poppins" required />
                    <!-----------<datepicker> TAG REMOVED by Barnali-------------
                    <datepicker date-format="MM-dd-yyyy" selector="form-control">
                        <input type="text" class="form-control" name="dueDate" [(ngModel)]="block.dueDate" placeholder="mm-dd-yyyy" required />
                    </datepicker>---->
                    <!--<p class="alerts" ng-if="block.dueDate.$invalid && block.dueDate.$touched"> Please Select Due Date</p>-->
                </div>
            </div>
            <div class="col-sm-4 col-xs-12">
                <div class="form-group">
                    <label id=label15>Late Payment Charge Type <span class="red">*</span></label>
                    <select class="form-control" name="latePymtChargeType" [(ngModel)]="block.latePymtChargeType"
                        #latePymtChargeType="ngModel" required>
                        <option ng-disabled="true" ng-selected="true" [value]=""
                            style="color:#b33951; font-family: Poppins">Select Late Payment Charge Type</option>
                        <option *ngFor="let latePymtChargeType of latePaymentChargeTypes"
                            [value]="latePymtChargeType.name" style="font-family: Poppins">
                            {{latePymtChargeType.displayName}}</option>
                    </select>
                    <p class="alerts" *ngIf="latePymtChargeType.invalid && latePymtChargeType.touched"> Please select
                        Charges Type</p>
                </div>
            </div>
            <div class="col-sm-4 col-xs-12">
                <div class="form-group">
                    <label id=label16>Late Payment Charge <span class="red">*</span></label>
                    <input type="text" name="latePymtCharge" id="input12" autocomplete='block.latePymtCharge'
                        [(ngModel)]="block.latePymtCharge" #latePymtCharge="ngModel" class="form-control"
                        placeholder="Late Payment charge" pattern="[+-]?((\.\d+)|(\d+(\.\d+)?))" required />
                    <p class="alerts" *ngIf="latePymtCharge.invalid && latePymtCharge.touched">Valid late payment charge
                        is required</p>
                </div>
            </div>
            <div class="col-sm-4 col-xs-12">
                <div class="form-group">
                    <label id=label17>Starts From<span class="red">*</span></label>
                    <input type="date" data-date-inline-picker="true" class="form-control" name="startsFrom"
                        id="latePaymentDate" [(ngModel)]="block.startsFrom" #startsFrom="ngModel"
                        placeholder="dd-mm-yyyy" style="font-family: Poppins" required />
                    <!--
                      <datepicker date-format="yyyy-MM-dd" selector="form-control">
                          <input type="text" class="form-control" name="startsFrom" [(ngModel)]="block.startsFrom" placeholder="Starts From" required />
                      </datepicker>
                      -->
                    <p class="alerts" *ngIf="startsFrom.invalid && startsFrom.touched"> Please Select Starts From Date
                    </p>
                </div>
            </div>

            <br><br>
            <div class="col-sm-7"></div>
            <div class="col-sm-2">
                <br><br>
                <button [disabled]="loading" class="btn btn-primary btn-block" (click)="createBlock()"
                    id="btn_createBlock">Add Block</button>
                <br>
            </div>
            <div class="col-sm-2">
                <br><br>
                <button type="reset" class="btn btn-primary btn-block " id="btn_rest">Reset</button>
                <br>
            </div>
            <div class="col-sm-1"></div>

        </div>
        <!--ROW ENDS-->
    </form>

</div>


<!----------------------------------------------------------------------------->

<!-- Modal Popups for View Block-->
<div class="modal fade viewPopup" id="viewBlock" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">

            <div class="modal-header" style="background-color: whitesmoke;">


                <h4 class="modal-title" id="myModalLabel" style="color:#b33951; font-family: Poppins;"><u>View Block</u>
                </h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
            </div>

            <div class="modal-body" style="font-family: Poppins;">
                <div class="row" style="border:2px solid #b33951; padding:5px;">
                    <div class="col-sm-12">
                        <h5 class="text-center">Association Name : <strong>{{currentAssociationName}}</strong></h5>
                        <br>
                        <h5 style="color:#b33951">Block Information</h5>
                        <br>
                    </div>

                    <div class="col-sm-4">
                        <p>Block Name : <span>{{viewBlockRow.blockName}}</span></p>
                    </div>
                    <div class="col-sm-4">
                        <p>Block Type : <span>{{viewBlockRow.blockType}}</span></p>
                    </div>
                    <div class="col-sm-4">
                        <p>Unit No : <span>{{viewBlockRow.unitNo}}</span></p>
                    </div>

                    <div class="col-sm-12">
                        <hr>
                    </div>
                </div>
            </div>
            <!---------Modal Body close---------->
        </div>
    </div>
</div>